h1{
    background-color: rgb(0, 119, 255);
    color: white;
}

h4{
    color: rgb(195, 0, 255);
    margin-top: 20px;
    background-color: rgb(0, 221, 255);
}

.content{
    color: rgb(255, 255, 0);
    background-color: cadetblue;
}

